@import "rounded";

// 関数の定義
@function Double($value) {
    @return round($value * 2);
}

// ミックスインの定義
@mixin box($color: black, $width, $height) {
    border: 1px dotted $color;
    width: $width;
    height: $height;
}

#menu {
    @include box(blue, 800px, 100px);
    margin: 10px;
}

#rounded-box {
    @include rounded(10px);
    background-color: goldenrod;
    height: 50px;
}

div {
    // 変数の定義
    $div-margin: 0;
    $container-width: 800px;

    background-color: lightgray;
    margin: $div-margin auto;
    .container {
        width: $container-width;
    }
    .box-double {
        width: Double(300px);
        padding: 10px;
    }
    .bg-blue {
        background-color: dodgerblue;
    }
    p {
        padding: 0 0 0 10px;
        span {
            font-size: 2em;
        }
    }
}
